* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

textarea {
    resize: none;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button {
    padding: 0;
    border: 0;
    background-color: inherit;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.ibg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    img {
        display: none;
    }
}

a {
    color: inherit;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: clip;

}

[class*='__container'] {
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//HEADER..............................................
.header-menu__icon {
    display: none;
}

@media (max-width:767.98px) {
    .header-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        left: -120%;
        top: 0;
        background-color: #fff;
        padding: 65px 10px 0px 10px;
        transition: all 0.5s ease;

        &.active {
            left: 0;
        }
    }

    .header-menu__icon {
        display: block;
        position: absolute;
        top: 28px;
        left: 10px;
        width: 30px;
        height: 20px;
        cursor: pointer;
        z-index: 5;

        span {
            transition: all 0.3s ease;
            top: 8px;
            left: 0;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;

            &:first-child {
                top: 0;
            }

            &:last-child {
                top: auto;
                bottom: 1px;
            }
        }

        &.active {
            span {
                transform: scale(0);

                &:first-child {
                    transform: rotate(-45deg);
                    top: 9px;
                }

                &:last-child {
                    transform: rotate(45deg);
                    bottom: 9px;
                }
            }
        }
    }
}

main {}

body {
    min-width: 320px;
    font-size: 16px;
    font-family: "Lato", sans-serif;
}


.mainblock {
    flex: 1 1 auto;
    height: 100vh;
    display: flex;
    position: relative;
    //align-items: center;
    justify-content: center;
    padding: 50px 0;

}

.mainblock__content {
    text-align: center;
    flex: 1 1 auto;
}

.logo {}

.mainblock-content__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mainblock__text {
    color: #fff;
    position: relative;
    padding-bottom: 45px;
    margin: 30px 0;

    &::after {
        content: '';
        width: 105px;
        height: 2px;
        left: 50%;
        background-color: #fff;
        position: absolute;
        margin-left: -52.5px;
        bottom: 0;
    }
}

.mainblock__title {
    font-weight: 900;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 34px;
    letter-spacing: 5.43px;
    margin-bottom: 10px;

    @media screen and (max-width:768px),
    screen and (max-height:600px) {
        font-size: 25px;
        line-height: 30px;
    }
}

.mainblock-subtitle {
    font-size: 26px;
    letter-spacing: 4.15px;
}

.mainblock__footer {
    display: inline-flex;
    flex-direction: column;
}

.mainblock-btn {
    margin-bottom: 60px;

    @media screen and (max-width:768px),
    screen and (max-height:600px) {
        margin-bottom: 30px;
    }
}

.btn {
    display: inline-block;
    padding: 0px 40px;
    background-color: transparent;
    height: 47px;
    border: 1px solid #fff;
    line-height: 44px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.67px;
    position: relative;
    transition: all 0.5s ease;

    span {
        position: relative;
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: scale(0);
        transition: all 0.5s ease;
    }

    &:hover {
        color: #000;

        &::after {
            background-color: #fff;
            transform: scale(1);
        }
    }
}

.mainblock-arrow {
    position: relative;
    animation: arrow 2s infinite ease;
}

.mainblock__image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

@keyframes arrow {
    0% {
        top: 0;
    }

    50% {
        top: 20px;
    }

    100% {
        top: 0;
    }
}

.content {
    background-color: #fff;
    position: relative;
    z-index: 50;
}

.menu {
    margin-bottom: 130px;
    padding: 22px 0;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid #eaeaea;

    @media (max-width:425px) {
        padding: 22px 0 12px 0;
    }

    @media (max-width:992px) {
        margin-bottom: 50px;
    }

    @media (max-width:768px) {
        margin-bottom: 30px;
    }
}

.menu__items {}

.menu-list {
    li {
        margin-bottom: 10px;
    }

    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;

    @media (max-width:768px) {
        gap: 0px;
        flex: 0 1 25%;
    }

    @media (max-width:425px) {
        flex-wrap: wrap;
    }
}

.menu-link {
    color: #3c3c3c;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    transition: color 0.3s ease;

    &:hover {
        color: #ada074;
    }

    @media (max-width:768px) {
        margin: 0 15px;
    }
}

.active {
    color: #ada074;
}



.about {
    padding-bottom: 60px;

    @media (max-width:768px) {
        margin-bottom: 10px;
    }
}

.about__header-block {}

.header-block {
    text-align: center;
    margin-bottom: 65px;

    @media (max-width:768px) {
        margin-bottom: 30px;
    }
}

.header-block__title {
    text-transform: uppercase;
    letter-spacing: 8.95px;
    font-size: 34px;
    font-weight: 700;
    position: relative;
    padding-bottom: 30px;

    &::after {
        content: '';
        width: 81px;
        height: 1px;
        position: absolute;
        left: 50%;
        margin-left: -40.5px;
        background-color: #000;
        bottom: 0;
    }
}

.header-block__subtitle {
    padding-top: 30px;
    color: #868585;
    font-size: 14px;
    font-weight: 300;
    line-height: 25.89px;
    max-width: 700px;
    margin: 0 auto;
}

.about__body {
    text-align: center;
}

.about__row {
    display: inline-flex;
    margin: 0 -15px;

    @media (max-width:768px) {
        display: block;
    }
}

.about__column {

    padding: 0 15px;
    flex: 0 1 33.333%;
    padding-bottom: 30px;
    text-align: center;

}

.about__item {

    max-width: 260px;

    @media (max-width:768px) {
        max-width: none;
    }
}

.about__icon {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;

    @media (max-width:768px) {
        margin-bottom: 15px;
    }
}

.l img {
    position: relative;
    left: 5px;
}

.about__title {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3.52px;
    margin-bottom: 33px;

    @media (max-width:992px) {
        font-size: 18px;
        margin-bottom: 25px;
    }

    @media (max-width:768px) {
        margin-bottom: 15px;
    }
}

.about__text {
    color: #868585;
    font-size: 14px;
    line-height: 26px;
}


.portfolio {
    background-color: #f3f3f3;
    padding: 105px 0 60px 0;

    .header-block {
        margin-bottom: 50px;

        @media (max-width:992px) {
            margin-bottom: 30px;
        }

        @media (max-width:768px) {
            margin-bottom: 20px;
        }

    }

    @media (max-width:992px) {
        padding: 50px 0 40px 0;
    }
}

.portfolio__filter {
    margin-bottom: 136px;

    @media (max-width:992px) {
        margin-bottom: 50px;
    }

    @media (max-width:768px) {
        margin-bottom: 20px;
    }
}

.filter-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-item {
    text-transform: uppercase;
    color: #3c3c3c;
    font-size: 15px;
    margin: 0 25px;
    cursor: pointer;
    font-weight: bold;

    &.active {
        color: #ada074;
    }

    &:hover {
        color: #ada074;
    }

    @media (max-width:768px) {
        margin: 0 15px;
    }
}

.portfolio-items {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
}

.gallery {}

.portfolio__column {
    flex: 0 1 50%;
    padding: 0 15px;
    margin-bottom: 30px;

    @media (max-width:992px) {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
}

.portfolio-item {
    img {
        max-width: 100%;
    }
}

.portfolio-footer {
    padding-top: 35px;
    text-align: center;

    @media (max-width:992px) {
        padding-top: 15px;
    }
}

.portfolio-btn {
    border: 1px solid #000;
    color: #000;

    &:hover {
        color: #fff;

        &::after {
            background-color: #000;
        }
    }
}


.partners {
    background: url('../img/partners/bg.jpg') center/cover no-repeat;
    padding: 100px 0 70px 0;

    @media (max-width:768px) {
        padding: 30px 0 0px 0;
    }
}

.partners__container {}

.partners-title {
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    margin-bottom: 90px;

    @media (max-width:768px) {
        margin-bottom: 30px;
    }
}

.partners-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.partners-column {
    padding: 50px;
    margin-bottom: 70px;

    @media (max-width:768px) {
        padding: 30px;
    }
}

.partners-item {}



.contacts {
    padding-top: 180px;
    padding-bottom: 60px;

    @media (max-width:992px) {
        padding-top: 80px;
        padding-bottom: 50px;
    }

    @media (max-width:768px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .header-block {
        background-color: #fff;
        margin-bottom: 120px;

        @media (max-width:768px) {
            margin-bottom: 50px;
        }

        @media (max-width:425px) {
            margin-bottom: 30px;
        }
    }
}

.contacts-body {
    display: flex;
    margin: 0 -15px;

    @media (max-width:768px) {
        display: block;

    }
}

.contacts__column {
    flex: 0 1 50%;
    padding: 0 25px;
}

.contacts-form {
    text-align: right;

    @media (max-width:768px) {
        text-align: left;
        margin-bottom: 30px;
    }
}

.form-body {
    max-width: 385px;
    display: inline-block;
    width: 100%;

    @media (max-width:768px) {
        max-width: none;
        display: block;
    }
}

.form-row {
    display: flex;
    margin: 0 -15px 70px -15px;
    flex-wrap: wrap;

    @media (max-width:768px) {
        margin: 0 -15px 30px -15px;
    }

    @media (max-width:425px) {
        display: block;
    }

}

.form__column {
    flex: 0 1 50%;
    padding: 0 15px;

    @media (max-width:768px) {
        &:first-child {
            margin-bottom: 30px;
        }
    }
}

.form-label {
    text-align-last: left;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.input {
    height: 50px;
    border-radius: 0 !important;
    width: 100%;
    display: block;
    font-size: 15px;
    padding: 0 20px;
    background-color: #f8f7f7;
    border-top: 1px solid black;
}

.form__input {}

.contacts-content {
    max-width: 260px;
}

.contacts-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 35px;
}


.contacts-name {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 25px;
}

.contacts__social {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
}

.social-item {}

.contacts-email {
    a {
        font-weight: 700;
        font-size: 14px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.form-btn {
    border: 1px solid #000;
    color: #000;

    &:hover {
        color: #fff;

        &::after {
            background-color: #000;
        }
    }

    margin-top: 35px;

    @media (max-width:768px) {
        display: block;
        width: 100%;
    }
}

textarea.input {
    height: 117px;
    padding: 10px 20px;
}


footer {
    background-color: #3c3c3c;
    padding: 45px 0;
    position: relative;
    z-index: 5;
}

.footer-body {
    text-align: center;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 40px;
    img{
        max-width: 100%;
        width: 100px;
    }
    @media (max-width:768px) {
        img{
            width: 100px;
        }
    }
}

.footer-menu {
    text-align: center;
}

.footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
}

.footer__link {
    color: #a4a4a4;
    font-size: 14px;

}

.footer-text {
    color: #6c6c6c;
    font-size: 14px;
}